*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body{
  background-color: #F5F5F5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 80px;

}
.inner-container{
  width:100%;
  margin-left: auto;
  margin-right: auto;

  padding: 0;
  margin: 0;
}
.all-parts{
  width: 100%;
}

/*Navigation bar style*/
header{
  height: 12vh;
  display: flex;
  align-items:center;
    background-color:#1B242F;
  border-bottom: 3px solid #09C2C9;
  top: 0;
  width:100%;
  position: fixed;
}
.menuIcon{
margin-left:30px;
margin-top: 10px;
height: 100%;
}
.menuIcon .bar1, .bar2, .bar3, .bar4{
  margin: 3px 0;
  height: 5px;
  width: 70px;
  background-color:white;
}

header nav{
width: 100%;
display: flex;
align-items:center;

}
header nav ul{
  margin-top: -10px;
  width: 98%;
  padding-left:10px;
}

header nav li{
  margin: 0 20px;
  display: inline;
}
header nav li a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.active{
  color: #E31C6E;
}


header nav ul .myClass{
  width: 100%;
  height: 40px;
}

/* body section */

.body-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bodyContainer{
  width:98%;
    margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

/*sectionn style*/
.blog h1{
    padding-top: 50px;
  color: #45474A;
  text-align: center;
  font-size: 24px;
  text-decoration-style: solid;
  text-decoration: underline;
}

/* body part */
.blogs{
  width: 100%;
  display: flex;
  align-items:center;
  justify-content: center;
}
.bloged{
  width: 20%;
  padding:  0 20px;
  margin: 5px;
}

.blog-image{
width: 100%;
height: 300px;
display: flex;
border: solid #45474A 1px;
justify-content: center;
align-items:center;
}
img{
  width: 100%;
  height: 100%;
  display: block;
}

.blog-title{
  padding:10px 0;
  color: #BDBDBD;

}
.line1{
  width: 35%;
  height: 5px;
  margin: 10px 0;
  background:#14C6CD;

}
.blog-text, .blog-date{
  color: #626262;
}

.blog-title h1{
  color: #626262;
}
.action {
  width: 100%;
  display: flex;
  align-items:center;
  justify-content: center;
}
.action .fa{
  font-size: 20px;
  color:#14C6CD;
  text-align: center;
  padding: 10px 20px;
}
.fa:hover{
  color:#E31C6E;
}


/*footer styling here*/

.footer{
  margin-top: 20px;
  padding: 0;
  background-color: #1B242F;
  display: flex;
  justify-content: center;
  align-items:center;
  width: 100%;
  position: fixed;
  bottom: 0;
  padding-top: 10px;
 height:10vh;
}


.socialMedia-contact{
  width:98%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.myName{
  width: 100%;
  margin-top: 10px;
  text-align: center;
  color: #4D5763;
}
#copy{
  color: #E31B6D;
}

footer .fa {
  color: white;
  background-color: #262F38;
  text-align: center;
  padding: 5px 10px;
  margin:0 5px;
  text-decoration: none;
}

@media only screen  and (max-width: 700px) {


  *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}
    nav ul{
      display: none;
      width: 0px;
      height:0px;
    }
    header{
      height: 12vh;
      display: block;
    }
    .menuIcon{
      float:right;
      margin-right: 10px;
    }
    ul.myClass {
    display: block;
   width: 100%;
   background-color: #333333;
   height: 100%;
   z-index: 100;
   position: relative;

}
 ul.myClass li{
  margin: 5px 0;
  font-size: 16px;
  display: block;
}
.body-section{
  margin-bottom: 100px;
}


.blogs{
  width: 100%;
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
}
.bloged{
  width: 100%;
  margin: 2px;
}

}


@media all and (min-width:1025px) {
  header .menuIcon{
      display: none;
    }
    .portfolio title h1{
      font-size: 20px;
    }

}

/*responsive for iPad prod and other kind of Ipad */

@media all and (min-width: 701px) and (max-width: 1024px) {

    body{
    margin: 0;
    padding:0;
    }
    header .menuIcon{
      display: none;
    }
     header nav {
      width: 100%;
    }

    *{
      font-size: 20px;
      margin: 0;
      padding: 0;
      box-sizing:border-box;
    }

    .container{
  height: 60vh;
}
.inner-container{
  height: 90%;
  margin-left: auto;
  margin-right: auto;

  margin: 0;
}


.body-section{
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
    align-items: center;
}


.blog h1{
  color:#454545;
  text-align: center;
  padding:20px 0;
  font-size: 30px;
  text-decoration-style: solid;
  text-decoration: underline;
}
.blogs{
  width: 100%;
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
}
.bloged{
  width: 100%;
  margin: 2px;
}


}
