*{
  margin: 0;
  padding: 0;
  color:black;
  box-sizing: border-box;
  font-size: 16px;
}

.page-title h1{
  color:black;
}

.likeButton, .unlikeButton{
  background:yellow;
  display: flex;
  justify-content: center;
  align-items:center;
}
.likeButton p{
  color:green;
}
.unlikeButton p{
  color:red;
}
.fa-thumbs-up{
  /* font-size: 30px; */
  color:black;
  padding: 3px;
}
.action{
  margin-top: 10px;
  font-size: 25px;
}
.action p{
  margin: 0 10px ;
}
.myName p{
  color:white;
}

/* body part */
.blogs{
  width: 100%;
  display: flex;
  align-items:center;
  justify-content: center;
}
.bloged{
  width: 100%;
  padding:  10px 20px;
  border-radius:5px;
  margin: 5px;
  /* background:#adbbc7; */
}

article{
  flex:1;
  float: left;
}
aside{
  flex: 3;
  float: right;
  flex-direction: row;
}

label{
  color: black;
  font-size: 16px;
}
textarea, input{
  width: 100%;
  color:black;
  padding-left: 5px;
  margin: 5px 0px;
  border:2px solid black;
}
.commentsdivision{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items:center;
}
.commentsdivision
#commentor{
  background:white;
}
.commentsSection{
  width: 400px;
  color:black;
  border-radius:5px;
}
 h2,h1{
   text-align: center;
   color:black;
 }

 .commentDivisionDiv{
   height: 30px;
   display: flex;
   flex-direction: row;
 }
.blog-image{
width: 200px;
height: 400px;
display: flex;
border-radius:5px;
border: solid #45474A 1px;
justify-content: center;
align-items:center;
}
img{
  width: 100%;
  height: 100%;
  border-radius:5px;
  display: block;
}

.blog-title{
  padding:10px 0;
  color: #45474A;

}
.line1{
  width: 100%;
  height: 3px;
  margin: 10px 0;
  background:#45474A;

}
.blog-text p, .blog-date p{
  color: #45474A;
}


.blog-title h1{
  color: #45474A;
}

.action {
  width: 100%;
  display: flex;
  align-items:center;
  justify-content: center;
}
/* .action .fa{
  font-size: 20px;
  color: #45474A;
  text-align: center;
  padding: 10px 20px;
} */
.fa:hover{
  color:#E31C6E;
}

.btn-bigbtn{
  display: flex;
  margin-top: 2px;
  justify-content: center;
  align-items:center;
}


button{
font-size: 12px;
    padding: 5px 10px 5px 10px;
    margin: 10px;
}
.buttons{
  display: flex;
  justify-content: center;
  align-items:center;

}


@media only screen  and (max-width: 700px) {


.blogs{
  width: 100%;
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
}
.bloged{
  width: 100%;
  margin: 2px;
}

}


@media all and (min-width:1025px) {


}

/*responsive for iPad prod and other kind of Ipad */

@media all and (min-width: 701px) and (max-width: 1024px) {

*{
  font-size: 20px;
}
.blogs{
  width: 100%;
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
}
.bloged{
  width: 100%;
  margin: 2px;
}
.bodyContainer{
  margin-top: 100px;
  margin-bottom: 200px;
}


}
