body{
 background: #252934;
}


.paragraph{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.paragraph li{
  list-style-type:none;
  text-align: center;
}
.paragraph li, .paragraph .active{
    font-size: 25px;
}





@media only screen  and (max-width: 700px) {

.paragraph li, .paragraph .active{
    font-size: 16px;
}
}
