*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body{
  background-color: #252934;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}





/*sectionn style*/


.section-part{
  padding:30px 0;
}

.contact h1{
  color: #f0f5ff;
  text-align: center;
  font-size: 24px;
  text-decoration-style: solid;
  text-decoration: underline;
}
.contact p{
  color: #09C2C9;
  padding-top: 30px;
  text-align: center;
}



/*form part style*/
.form-part{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.form-container{
 width: 90%;
}
.form{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.inner-form{
  width: 90%;

}

.form textarea, input{
  background-color:#1E242C;
  margin-top: 5px;
  width: 100%;
  border-radius: 5px;
  color:#f0f5ff;
  padding-left: 10px;
  border-width: 0px;
}

input[type=text]{
  height: 30px;
}

textarea,button, input:focus{
  outline: 0;
}
textarea{
  resize: none;
}

.button{
  width: 100%;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
 }
button{
  color: #f0f5ff;
  background-color: #252934;
  padding: 10px 30px;
  border-radius: 5px;
  border: #f0f5ff solid 1px;

}

button:hover{
  background-color:#09C2C9;
  cursor: pointer;
}

.contact-phone{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-phone .fa{
  margin: 1px 10px;
  font-size: 16px;
}

@media only screen  and (max-width: 700px) {


.section-part p, h1{
  text-align: center;
}
.section-part, .form-part{
  width: 100%;

}

.form-container{
 width: 80%;
margin-bottom: 100px;
    margin-top: 10px;
}
.form{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner-form{
  width: 100%;
}
.form textarea, input{
  background-color:#1E242C;
  margin-top: 5px;
  width: 98%;
  border-radius: 5px;
  color:#f0f5ff;
  padding-left: 10px;
  border-width: 0px;
}

}


@media all and (min-width:1024px) {

    .inner-form{
  width: 800px;

}
*{
  font-size: 16px;
}
}

/*responsive for iPad prod and other kind of Ipad */

@media all and (min-width: 701px) and (max-width: 1023px) {

    *{
      font-size: 16px;
      margin: 0;
      padding: 0;
      box-sizing:border-box;
    }


    .form-container{
 width: 80%;
}
.form{
   padding-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.inner-form{
  width: 100%;

}

.form textarea, input{
  background-color:#1E242C;
  margin-top: 5px;
  width: 98%;
  border-radius: 5px;
  color:#f0f5ff;
  padding-left: 10px;
  border-width: 0px;
}

.section-part{
  padding:10px 0;
}

.contact h1{
  color: #f0f5ff;
  text-align: center;
  padding:30px 0;
  font-size: 24px;
  text-decoration-style: solid;
  text-decoration: underline;
}
.contact p{
  color: #09C2C9;
  padding-top: 10px;
  text-align: center;
}
}
