*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
section{
    background-color:#252934;
    /* min-height: 100vh; */
}
 .container, .button {
    display: flex;
    justify-content: center;
    align-items:center
}
.container{
    height: 100vh;


}
.innerpart{
    width: 98%;
}

.button{
    margin-top: 20px;
}
.text{
    font-size: 40px;
    color: white;
 text-align: center;
 list-style: none;
}

#myName{
    color: #E31B6D;
}
#btn-one{
    font-size: 16px;
    padding: 10px 20px 10px 30px;
    background-color: #252934;
    color: white;
    border-radius: 10px;
   border: solid white 1px;
}
.fa-arrow-right{
    color: white;
    font-size: 20px;
    margin-left: 10px;
}
#btn-one:hover{
    background-color:#05C2C9;
}


@media  screen and (max-width: 768px){
    .text{
        font-size: 16px;
    }

    #btn-one{
    font-size: 12px;
    padding: 10px 20px;
    background-color: #252934;
    color: white;
    border-radius: 10px;
   border: solid white 1px;
}

}
