

body{
  background:#F5F5F5;
 /* color:#1B242F; */
}
.page-title h1{
 color:#1B242F;
}

.uniq-features{
  width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.box{
    width: 20%;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    color:#1B242F;
    background: #f0f5ff;
    border-radius:20px;
     box-shadow: 0px 0px 2px 2px #1B242F;

    border: solid 1px #1B242F;

}
.box p,h2{
  color:#252934;
  text-align: center;
}

 .My-profile p, .My-profile h2{
 color:#1B242F;
  text-align: center;
}
marquee{
    color:#252934;

}

.inner-icon{
    width: 100%;
    display: flex;
    justify-content: center;
}
.uniq-features h2{
    font: 16px;
    font-weight: 1000;
    margin-bottom: 2px;
    text-align: center;
    margin-bottom: 10px;
    text-decoration: underline;
    color:#252934;

}

.uniq-features .fa{
    background:#f0f5ff;
  color:#252934;
    font-size: 50px;
    text-align: center;
    width: 100px;
    height: 70px;
}


/* Experiences things */

.My-profile{
 width:100%;
 display: flex;
 justify-content: center;
 align-items: center;
  padding-top: 30px;
  margin-bottom: 1px;

}

.profile-title h2{
  padding: 10px 0;
  color:#1B242F;
}
/* right side */
.my-photo-profile {
  display: flex;
  margin: 2px;
  width: 50%;
  height: 400px;
  flex-direction: column;
}

.My-profile a{
  text-decoration: none;
  color:#05C2C9;
}

.image img{
  width:200px;
  height: 250px;
  border-radius: 50%;
}
.image{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.my-photo-profile h2{
  text-align: center;
}
.allskills{
  width: 50%;
  display: flex;
    border:solid  #05C2C9 2px;
    justify-content: center;
    align-items:center;
    border-radius:10px;
  flex-direction: column;
  box-shadow: 0px 0px 5px 5px #05C2C9  ;
}

.thecourses-skills img{
  margin:5px 10px;
  max-width: 90px;
max-height: 90px;
border-radius:10px;
}

#contact-link{
color:#05C2C9;
}
.Okay{
  color:#05C2C9;
  height:0px;
  width: 0px;
}
.paragraph{
  width: 100%;
  text-align: center;
}





@media only screen  and (max-width: 700px) {



.section-part h1{
  text-align: center;
}
.section-part{
  position: fixed;
  width: 100%;
}

.uniq-features{
  width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.box{
    width: 100%;
    margin-bottom: 20px;
}

.My-profile{
 width:100%;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
  padding-top: 30px;

}

.my-photo-profile {
  display: flex;
  width: 100%;
  height: 400px;
  flex-direction: column;
}


.allskills{
  width: 100%;
  display: flex;
  border:solid  #05C2C9 2px;
  justify-content: center;
  border-radius: 10px;
  align-items:center;
  flex-direction: column;
}

.thecourses-skills{
  display: flex;
  justify-content: center;
  align-items:center;
}




}


@media all and (min-width:1025px) {
  header .menuIcon{
      display: none;
    }
    .inner-form{
  width: 600px;

}
}

/*responsive for iPad prod and other kind of Ipad */

@media all and (min-width: 701px) and (max-width: 1024px) {

    body{
    margin: 0;
    padding:0;
    font-size: 25px;

    }
    .page-title .active{
        font-size: 25px;

    }
    .page-title{
      margin-top: 50px;
    }
    header .menuIcon{
      display: none;
    }
     header nav {
      width: 100%;
    }


.My-profile{
 width:100%;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
  padding-top: 30px;

}

.my-photo-profile {
  display: flex;
  width: 100%;
  height: 400px;
  flex-direction: column;
}

/* The courses-skills */

.allskills{
  width: 100%;
  display: flex;
  border:solid  #05C2C9 2px;
  justify-content: center;
  border-radius: 10px;
  align-items:center;
  flex-direction: column;
}


.thecourses-skills img{
  margin:5px 10px;
  max-width: 150px;
max-height: 150px;
}

.uniq-features{
  width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 150px;
}
.paragraph{
 margin-bottom: 100px;
}

}
